body {
  background-image: url("../images/topography.svg"),
   linear-gradient(110deg, #f93d66, #6d47d9);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0%;
  margin: 0%;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

li a {
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 12px 10px;
  color: black;
  text-align: center;
  background: #ffc600;
  margin: 10px 30px;
}

.grid-content {
  display: grid;
  width: 90%;
  align-items: center;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 2px;
  margin: 40px auto;
}

.menuicon {
  font-size: 30px;
  margin: 50px;
  background: #ffc600;
  width: 4cm;
}

.menuicon :hover {
  font-size: 40px;
}

.foodprices-holder {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 10px;
  margin: 70px;
}

.food-image {
  background-image: url(../images/taco.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.b {
  background-color: #ffc600;
  width: 100%;
  height: 5.7cm;
  margin-bottom: 10px;
  border-style: none;
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}

.p1 {
  background-color: #ffc600;
  font-weight: bold;
  width: 4cm;
  margin-left: 20px;
  font-size: large;
  padding: 15px;
  margin-top: 5cm;
}

.p2 {
  background-color: #ffc600;
  font-weight: bold;
  width: 3.5cm;
  margin-left: 20px;
  margin-top: 0.7cm;
}

.chooseItem {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  position: relative;
  grid-gap: 10px;
  width: 100%;
  margin-top: 0.7cm;
  margin-left: 65px;
}

.item {
  background-color: white;
  border-style: none;
  height: 5.5cm;
  padding: 5px;
}

.note {
  font-weight: bold;
}

.featured-taco {
  background-color: white;
  display: grid;
  gap: 5px;
  margin-top: 40px;
  margin-left: 65px;
  width: 100%;
  margin-left: 100px;
}

h1 {
  padding-left: 20px;
  font-weight: bold;
  font-size: 30px;
}

p {
  padding-left: 20px;
  font-weight: bold;
  font-size: large;
}

div {
  padding-left: 20px;
  font-weight: bold;
}
.games {
  display: flex;
  margin-top: 30px;
  width: 100%;
  margin-left: 65px;
}
.line {
  background: linear-gradient( to right, rgb(255, 255, 0 , 1) ,
  rgb(255, 255, 0 , 0) );
  height: 12px;
  width: 100%;
}
.text {
  font-weight: bold;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 10px;
}
.sample-pictures {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  margin-top: 40px;
  width: 100%;
  position: relative;
  grid-gap: 10px;
  margin-left: 20px;
}
.sample-pictures > *{
  height: 5cm;
}
.sample-pictures > div > img {
  width: 100%;
  height: 100%;
}
.info {
  margin-left: 10px;
}
h1 {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;
  color: #ffc600;
}
p {
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;
}